:root {
    --c1: #343829;
    --c2: #3a6b02;
    --c3: #97b725;
    --c4: #afcae8;
    --c5: #2444ab;
}

*{
    font-family: "Science Gothic", sans-serif;
}

body {
    background-color: var(--c3);
    color: var(--c1);
}

#header,
#topmenu,
#left-sidebar,
#main-content,
#right-sidebar,
#module,
#footer{
    background-color: var(--c4);
    border-color: var(--c5);
}

a{
    color: var(--c1)
}

.mod-menu{
    border-color: var(--c5);
}

.mod-login{
    border-color: var(--c5);
}
