body {
    background-color: #fdf5e6;
    color: #333;
}

/* === Основные структурные блоки (Границы и фоны) === */
#header {
    background-color: #bb0915;
    border-color: #760203; /* Бордовая граница */
    color: #fff;
}
#header a, #header h1 { color: #ecc359; }

#left-sidebar, #right-sidebar {
    background-color: rgba(220, 171, 105, 0.2);
    border-color: #dcab69; /* Песочная граница */
}

#main-content {
    background-color: #fff;
    border-color: #9e5127; /* Ржавая граница */
}

#module {
    background-color: #ecc359;
    border-color: #dcab69;
    color: #760203;
}

#footer {
    background-color: #760203;
    border-color: #bb0915;
    color: #ecc359;
}
#footer a { color: #fff; }


/* === МОДУЛИ (Меню, Логин) === */
.moduletable, .card, .module {
    border-color: #9e5127; /* Граница вокруг модулей */
    background-color: #fff;
}

.moduletable h3, .card-header, .module-title {
    color: #bb0915;
    border-bottom-color: #dcab69;
}


/* === МЕНЮ === */
.mod-menu{
    border-color: #dcab69;
}

.mod-menu a {
    background-color: #fff;
    border-color: #dcab69;
    color: #9e5127;
}

.mod-menu .active > a,
.mod-menu .current > a {
    background-color: #fcefe6;
    color: #bb0915;
    border-color: #bb0915;
}

/* Стрелка раскрытия */
.mod-menu button,
.mod-menu button.btn {
    color: #bb0915 !important;
}


/* === ФОРМЫ И КНОПКИ === */
.mod-login{
    border-color: #dcab69;
}

input[type="text"],
input[type="password"],
input[type="search"] {
    border-color: #9e5127;
    color: #760203;
}


/* Кнопка "глаз" */
.input-group .btn, 
.input-group-text {
    background-color: #dcab69;
    border-color: #9e5127;
    color: #760203;
}

/* Основные кнопки */
button:not(.mod-menu button), input[type="submit"], .btn-primary {
    background-color: #bb0915;
    color: #fff;
    border-color: #760203;
}