:root {
    --c1: #9e5127;
    --c2: #dcab69;
    --c3: #ecc359;
    --c4: #bb0915;
    --c5: #760203;
}

body {
    background-color: var(--c3);
    color: var(--c5);
}

#header,
#topmenu,
#left-sidebar,
#main-content,
#right-sidebar,
#module,
#footer{
    background-color: var(--c1);
    border-color: var(--c4);
}

a{
    color: var(--c4)
}

.mod-menu{
    border-color: var(--c2);
}

.mod-login{
    border-color: var(--c2);
}
