body {
  background-color: #82AAC3 !important;
}

.bodydiv {
  background: white; 
}

footer {
  background: #B8CEE5;
}

/* ****************** логотип в шапке сайта ************************ */
.logo {
  border-color: #5E3A18;
  border: solid 1px;
  border-radius: 2px;
  text-align: center;
  vertical-align: middle;
}

/* ************************ МЕНЮ В ЗАГОЛОВКЕ *********************** */

/* общие параметры меню */
.main-navigation {
    border: 1px solid #5E3A18;
    background: #5E3A18;
}

/* параметры выпадающего меню */
.topmenu {
  background: #5E3A18;
}

.topmenu.nav li {
  background: #B8CEE5;
  border-right: 1px solid #5E3A18;
  float: left; /*делаем меню горизонтальным*/
  list-style: none;
}

.topmenu.nav { /*задаём высоту и ширину меню*/
  background: #B8CEE5;
}
 
/*Выпадающее меню*/
 
.topmenu.nav li:hover {
  background-color: white;
}
.topmenu.nav li:hover > ul {
  border-top: 1px solid #5E3A18;
  display: block;
  position: absolute;
  left: 0;
  top: 30px; /*первый уровень меню раскрывается вниз*/
}
/*Второй и последующие уровни вложенности*/
.topmenu.nav li ul li{
  border-bottom: 1px solid #5E3A18;
  border-left: 1px solid #5E3A18;
}

.topmenu.nav li:hover ul li ul{
  position: absolute;
  top: 0;
  left: 150px; 
}

/* ****************** модуль поиска ************************ */

.search-block {
  float: right;
  color: #1E3D42;
  background: #B8CEE5;
} 


/* *************** параметры текста ********************** */
h1, h2, h3, h4, h5, h6, h7 {
  color: #1E3D42 !important;
}


a {
  color: #82AAC3 !important;
}
